<h1>Listing #hashtags</h1>

<table id="htags_table" class="table table-bordered table-striped">
  <tr>
    <th id="name_header">name</th>
    <th id="count_header">count</th>
  </tr>

<% @tags_with_count.each do |key, value| %>
  <tr>
    <td><b><%= key %></b></td>
    <td><%= value %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to_function "Go back", "history.back()" %>

<script>
startup_htags();
var table = $('table');
$('#name_header, #count_header')
    .wrapInner('<span title="sort this column"/>')
    .each(function(){

        var th = $(this),
            thIndex = th.index(),
            inverse = false;

        th.click(function(){

            table.find('td').filter(function(){

                return $(this).index() === thIndex;

            }).sortElements(function(a, b){

                if( $.text([a]) == $.text([b]) )
                    return 0;

                return $.text([a]) > $.text([b]) ?
                    inverse ? -1 : 1
                    : inverse ? 1 : -1;

            }, function(){

                // parentNode is the element we want to move
                return this.parentNode; 

            });

            inverse = !inverse;

        });

    });
</script>