<div class="row-fluid cwmcont">
 <div class="row">
	<div id="cwm-sidebar" class="span3 swell">
		
		<p class="lead">About citewith#me</p>
<p>Made with:</p>
<ul>
	<li>Ruby 1.9.2</li>
	<li>Rails 3.2.3</li>
	<li>CSS (Twitter Bootstrap)</li>
	<li>Javascript (jquery)</li>
	<li>HTML</li>	
</ul>


			
	</div>  
	<div id="foo2" class="span8 ">
		<br>
		<%= image_tag('frontpage_image.png') %>
		</div>



	</div>
	<br>
	    </div>
